<div class="swiper-container px-4 z-10 overflow-hidden">
    <div class="swiper-wrapper">
        {% for product in collections.all.products %}
        <div class="swiper-slide p-4">
            <div class="product-image mb-4 relative">
                
                {% assign has_image_variant = false %}
                {% for variant in product.variants %}
                {% if variant.image != null %}
                {% assign has_image_variant = true %}
                {% endif %}
                {% endfor %}
                
                <img id="product-image-{{ product.id }}" width="350" height="350" 
                    {% if has_image_variant %}
                        onclick="openModal('{{ product.id }}', '{{ product.title }}', '{{ product.featured_image | image_url: width: 350, height: 350 }}', '{{ product.price | money }}')"
                    {% endif %}
                    class="w-96 h-a" src="{{ product.featured_image | image_url: width: 300, height: 300 }}" alt="{{ product.title }}">

                
                <button 
                    {% if has_image_variant %}
                        onclick="openModal('{{ product.id }}', '{{ product.title }}', '{{ product.featured_image | image_url: width: 300, height: 300 }}', '{{ product.price | money }}')" 
                    {% endif %}
                    class="bg-[#CB8A3D] font-bold text-white rounded-full w-12 h-12 flex items-center justify-center absolute bottom-2 right-4">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                    </svg>
                </button>
                
            </div>

            <div class="product-info">
                <h2 class="text-xl text-center font-semibold">{{ product.title }}</h2>
                <p class="text-gray-700 text-center font-bold">{{ product.price | money }}</p>
                {% if section.settings.show_reviews %}
                <div class="flex items-center justify-center space-x-2">
                    {% assign rating = product.reviews.rating | default: 0 %}
                    {% assign reviews_count = product.reviews.count | default: 0 %}
                    <div class="flex">
                        {% for i in (1..5) %}
                        {% if i <= rating %}
                        <svg class="w-4 h-4 text-yellow-500 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path d="M10 15l-5.878 3.09 1.123-6.545-4.762-4.635 6.582-.957L10 .458l2.935 5.495 6.582.957-4.762 4.635 1.123 6.545z" />
                        </svg>
                        {% else %}
                        <svg class="w-4 h-4 text-gray-300 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path d="M10 15l-5.878 3.09 1.123-6.545-4.762-4.635 6.582-.957L10 .458l2.935 5.495 6.582.957-4.762 4.635 1.123 6.545z" />
                        </svg>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% if reviews_count > 0 %}
                    <span class="text-xs text-gray-500">({{ reviews_count }} reviews)</span>
                    {% else %}
                    <span class="text-xs text-gray-500">(No reviews)</span>
                    {% endif %}
                </div>
                {% endif %}
            </div>

            <div class="product-variants mt-4">
                <div class="flex space-x-2 justify-center">
                    {% for variant in product.variants %}
                    {% if variant.image != null %}
                    <label class="variant-label cursor-pointer">
                        <input type="radio" name="product_{{ product.id }}_variant" class="hidden variant-radio" data-variant-id="{{ variant.id }}" data-image-url="{% if variant.image %}{{ variant.image | image_url: width: 300, height: 300 }}{% else %}{{ product.featured_image | image_url: width: 300, height: 300 }}{% endif %}" onclick="selectVariant(this, {{ product.id }})" />
                        <span class="h-6 w-6 inline-block rounded-full border border-gray-200" style="background-color: {{ variant.option1 }}" title="{{ variant.title }}"></span>
                    </label>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            
        </div>
        {% endfor %}
    </div>
    <div class="swiper-pagination pb-1 md:pb-10 lg:pb-25 lg:top-0 lg:absolute"></div>
</div>

{% render 'product-modal' %}

<script>
    function selectVariant(radioBtn, productId) {
        const siblings = radioBtn.closest('.product-variants').querySelectorAll('.variant-label span');
        siblings.forEach(sibling => {
            sibling.classList.remove('ring-2', 'ring-[#CB8A3D]');
        });
        radioBtn.nextElementSibling.classList.add('ring-2', 'ring-black');
        const productImage = document.getElementById('product-image-' + productId);
        productImage.src = radioBtn.dataset.imageUrl;
    }

    const swiper = new Swiper('.swiper-container', {
        spaceBetween: 50,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        loop: true,
        breakpoints: {
            320: {
                slidesPerView: 1, 
                spaceBetween: 20  
            },
            
            640: {
                slidesPerView: 2, 
                spaceBetween: 30
            },
            
            1024: {
                slidesPerView: {{ section.settings.slides_per_view }}, 
                spaceBetween: 40
            }
        }
    });
</script>
