{% for product in collections.all.products %}
  <h2>{{ product.title }}</h2>
  <p>{{ product.description }}</p>
  <p>Цена: {{ product.price | money }}</p>

  <h3>Варианты:</h3>
  <ul>
    {% for variant in product.variants %}
      <li>
        <strong>Название варианта:</strong> {{ variant.title }}<br>
        <strong>Цена:</strong> {{ variant.price | money }}<br>
        <strong>SKU:</strong> {{ variant.sku }}<br>
        
        {% if variant.image %}
          {{ product | image_url: width: 450 }}
        {% else %}
          <p>Изображение не доступно для этого варианта</p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

{% endfor %}
