<div class="container mx-auto py-8">
  <div class="grid grid-cols-2">
      <h1 class="text-4xl font-bold mb-6">Best Sellers</h1>
    <!-- Кнопка для перехода ко всем товарам -->
    <div class="text-center mt-8 mb-10">
      <a href="/collections/all" class="text-white bg-black py-2 px-4 text-lg font-semibold rounded-full">View All</a>
    </div>
  </div>

  <!-- Сетка для продуктов -->
  <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
    {% for product in collections.all.products %}
    <div class="border p-4 rounded-lg shadow hover:shadow-lg transition-shadow">
      <!-- Изображение продукта -->
      <div class="product-image mb-4">
        {% if product.featured_image %}
          <img class="w-full h-auto" src="{{ product.featured_image | image_url: width: 300, height: 300 }}" alt="{{ product.title }}">
        {% else %}
          <p>Нет изображения</p>
        {% endif %}
      </div>

      <!-- Информация о продукте -->
      <div class="product-info">
        <h2 class="text-xl font-semibold">{{ product.title }}</h2>
        <p class="text-gray-600">{{ product.price | money }}</p>
        <p class="text-sm text-gray-500">{{ product.description | truncatewords: 15 }}</p>
      </div>

      <!-- Варианты продукта -->
      <div class="product-variants mt-4">
        <h3 class="font-semibold">Colors:</h3>
        <div class="flex space-x-2">
          {% for variant in product.variants %}
          <label class="variant-label">
            <input type="radio" name="product_{{ product.id }}_variant" class="hidden" />
            <span class="h-6 w-6 inline-block rounded-full border border-gray-200" style="background-color: {{ variant.option1 }}" title="{{ variant.title }}"></span>
          </label>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
